<%- include("header"); -%>
<div class="box" id="aboutbox">
    <h2 id="heading">ToDo lists helps you to keep track of yourself!!</h2>
    <p>It was a nice experience working on this project. As a developer i feel , i learn many new things while building up this very project.</p>
</div>
<%- include("footer"); -%>