<%- include("header"); -%>
    <div class="container-fluid row contact-us">
        <div class="contact-text col-lg-6">
            <h1>Get in touch</h1>
         
            <p>Want to get in touch? We'd love to hear from you.Here's how you can reach us.</p>
        </div>
        <div class="col-lg-6 contact-img-box">
            <img class="contact-img" src="images/contact-image.jpg" alt="contact-image">
        </div>
        <div class="contact-information row">
            <div class="customer-support col">
                <i class="fa-sharp fa-solid fa-phone fa-2xl text"></i>
                <h3 class="text">Talk to Sales</h3>
                <p class="text">Interested in Personalized Schedule? Just pick up the phone to chat with a member of our sales team.</p>
                <a class="text" href="">+91 8235385367</a>
            </div>
            <div class="customer-support col">
                <i class="fa-solid fa-comments fa-2xl text"></i>
                <h4 class="text">Contact Customer Support</h4>
                <p class="text">Sometimes you need a little help from your friends. Or a support rep. Don't worry..... we're here for you.</p>
            </div>
        </div>
    </div>
    
<%- include("footer"); -%>