<%- include("header"); -%>
<div class="home-content  row">
    <div class="" id="img-box">
        <img class="todo-image" src="images/to-do-list-apps.png" alt="todo-image">
    </div>
    <div class=" box" id="content-box">
        <h2 id="heading">ToDo list</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
    </div>
</div>
<%- include("footer"); -%>