<%- include("header"); -%>
<div class="home-content  row">
    <div class="col-lg-4 col-md-6" id="img-box">
        <img class="todo-image" src="images/to-do-list-apps.png" alt="todo-image">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 box" id="content-box">
        <h2 id="heading">ToDo list</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
    </div>
</div>
<%- include("footer"); -%>