<%- include("header"); -%>
<div class="container contentbox">
    <div class="row row-class">
        <div class="col-lg-9 row box" id="intro">
            <div class="col">
                <h3>Hi,It's Me</h3>
                <h2>I'm <span class="name">Aryan</span></h2>
            </div>
            <div class="pic col-lg-6">
                <img src="images/profile-pic.png" class="photo" alt="Profile-pic" srcset="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="social-links">
                <i class="fa-brands fa-github icon"></i>
                <i class="fa-brands fa-instagram icon"></i>
                <i class="fa-brands fa-linkedin icon"></i>
                <i class="fa-brands fa-facebook icon"></i>
            </div>
        </div>
        <div class="box" id="form">
            
            <form action="" class="enter-details">
              <label for="Query">Enter your Details</label>
              <input type="text" class="Name inp" placeholder="Name">
              <input type="email" class="Email inp" placeholder="Email">
              <input type="text" class="Purpose inp" placeholder="Describe your work">
              <button class="btn  btn-outline-dark button inp">Submit</button>
            </form>

        </div>  
    </div>   
  </div>
  <%- include("footer"); -%>